:root {
    --dt-row-selected: initial !important;
    --dt-row-selected-text: initial !important;
    --dt-row-selected-link: initial !important;
    --dt-row-stripe: initial !important;
    --dt-row-hover: initial !important;
    --dt-column-ordering: initial !important;
    --dt-html-background: initial !important;


    --main-color: #8db93d;
    --second-color: #0260aa;
    --third-color: aliceblue;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--main-color);
    color: #333;
}

h1 {
    background-color: var(--third-color);
    color: var(--second-color);       /* Cambia el color del texto */
    font-family: Arial, sans-serif;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#item-image img{
    width: 300px;
    margin: 5px;
    border-radius: 5px;
}

.image-buttons {
    display: flex;
    justify-content: center;
}

button, .input-btn, a, a:visited {
    color:black;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
    background: var(--main-color);
}


#admin-prefix {
   font-size: small;
   padding: 5px 10px; 
}

button:hover, .input-btn:hover, a:hover {
    color: var(--third-color);
    background-color: var(--second-color)
}

button:active, .input-btn:active, a:active{
    color: black;
    background-color: var(--second-color);
    transition: none;
    box-shadow:
        inset -2px -2px 3px rgb(255 255 255 / 0.6),
        inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

/* Formateo automático de texto */
 
input[name="usuario"] {
    text-transform: capitalize;
}
input[name="descripcion"] {
    text-transform: capitalize;
}
input[name="departamento"] {
    text-transform: capitalize;
}

textarea[name="notas"] {
    text-transform: capitalize;
}

#iniciar_sesion {
    background: #e3f2fd;
    border: 2px solid var(--second-color);
    border-radius: 20px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
    color: var(--second-color);
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    background: var(--third-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-grid {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

#information { 
    margin: 5px;
    float:left;
}

.total-information {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.back-to-inventory {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.admin-form {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

table a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: lighter;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #0260aa !important;
}

th {
    background-color: var(--main-color) !important;
    text-align: center !important;
}

td:nth-child(1), td:nth-child(5){
    font-family: monospace;
    font-size: 18px;
    text-align: center;
}

td:nth-child(6) {
    text-align: center;
}